* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    height: 5000px;
}

.header {
    background-color: #664e43;
    position: relative;
    margin-left: 150px;
}

.col-md-4 {
    margin-top: 30px;
}

.icon_list {
    display: flex;
    list-style: none;
    float: right;
    align-items: center;
}

.icon_list li {
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.icon_list li :hover {
    color: #c07a43;
}

.logo {
    color: #fff;
    cursor: pointer;
}

img {
    width: 239px;
    height: 380px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 8px;
    transition: all 1s ease-in-out;
}

.middle {
    margin-left: 60px;

}

.middle h1 {
    z-index: 13;
    min-width: 363px;
    max-width: 363px;
    white-space: normal;
    font-size: 63px;
    line-height: 63px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0px;
    font-family: 'Futura';
    text-align: inherit;
    margin: 0px;
    padding: 0px;
    min-height: 135px;
    max-height: 135px;
    transform-origin: 50% 50% 0px;
}

.middle p {
    z-index: 9;
    min-width: 302px;
    max-width: 302px;
    white-space: normal;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0px;
    font-family: Futura Std;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    max-height: none;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.middle .p {
    z-index: 11;
    white-space: nowrap;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0px;
    font-family: Futura T;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
}

.main {
    margin-top: 100px;
}

.middle .btn {
    z-index: 10;
    width: 180px;
    height: 60px;
    font-size: 15px;
    line-height: 60px;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: 1px solid #fff;
    outline: currentcolor none medium;
    cursor: pointer;
    transition: all 1s ease-in-out;
    text-align: center;
    border-radius: 5px;
    padding: 0px 20px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.middle .btn:hover {
    background-color: #fff;
    border-color: #000;
}

.middle .btn:focus {
    outline-offset: none;
}

.middle .btn i {
    font-size: 6px;
    text-align: inherit;
    line-height: 25px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

.logo {
    font-size: 30px;
}

.img1 {
    width: 422px;
    height: 738px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 8px;
    margin-left: 165px;
    top: 0;
    left: 0;
    transform: translateY(-17%);
}
